.wrapper {
  //background-image: url("../../../src/assets/background/meals.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #e3e3e3;

  &__fiction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;

    &__block {
      padding: 1rem;

      &__title {
        text-align: center;
      }
    }
  }

  &__menu {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}





